html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  background-color: cyan;
  width: 960px;
  padding: 8px;
  margin: 0 auto;
}

.square {
  background-color: white;
}
.row {
  display: flex;
}
